<a href="https://colab.research.google.com/github/Emmanuelmitra/Lambda-functions-/blob/main/lambda_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***1.What is lambda function in python?***
A Lambda Function in Python programming is an anonymous function or a function having no name. It is a small and restricted function having no more than one line. Just like a normal function, a Lambda function can have multiple arguments with one expression.

# 2**. What is the syntax of lambda function in python **
    lambda arguments : expression
    x = lambda a : a + 3
    print(x(5))

In [4]:
f=lambda x: x+1
f(1)
#here we have written a lambda fucntion which adds 1 to the give number 
# then we call the function f and give value 1 for x, the answer will be 2

2

In [5]:
# multiply any number with two using lambda function 
mul= lambda x: x*2
mul(3)

6

In [10]:
 '''1.Write a lambda function that takes x as parameter and returns x+2. Then assign it to a variable named t.'''

'1.Write a lambda function that takes x as parameter and returns x+2. Then assign it to a variable named t.'

In [12]:
t=lambda x: x+2
print(t(20))

22

In [13]:
'''2. Write a function which takes two arguments: x and y and returns the multiplication of them: x*y. Assign it to a variable named: f.'''

'2. Write a function which takes two arguments: x and y and returns the multiplication of them: x*y. Assign it to a variable named: f.'

In [16]:
f=lambda x,y : x*y
print(f(2,3))

6

In [18]:
'''3.use the sorted() function to sort the list in ascending order with lambda.'''

'3.use the sorted() function to sort the list in ascending order with lambda.'

In [23]:
l=[3,4,1,2,3,78,9,10]

#use sorted function 
l=sorted(l,key=lambda x:x)
print(l)

[1, 2, 3, 3, 4, 9, 10, 78]

In [25]:
'''4.use the sorted() function to sort the tuple in ascending order with lambda.'''

'4.use the sorted() function to sort the tuple in ascending order with lambda.'

In [33]:
t=(1,2,7,8,9,12,13,16,7,2,3,4)
t=sorted(t, key=lambda x:x)
print(t)

[1, 2, 2, 3, 4, 7, 7, 8, 9, 12, 13, 16]

In [48]:
'''5.use the sort() function to sort the list in ascending order without lambda'''

'5.use the sort() function to sort the list in ascending order without lambda'

In [49]:
l=[5,2,1,3,4,5]
l.sort()
print(l)
#here no need to use lambda function

[1, 2, 3, 4, 5, 5]

#6.Using sorted() function and lambda sort the words in the list based on their second letter from a to z.

In [52]:
l=['emmanuel','simon','mitra','superman','ironman','batman']

In [54]:
s=sorted(l, key= lambda x: x[1])
print(s)
#here x[1] specifies the index of each string in list

['batman', 'simon', 'mitra', 'emmanuel', 'ironman', 'superman']

7.Using sorted() function and lambda sort the tuples in the list based on the second items.

In [59]:
l=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "america"), (626299, "Vermont")]

s=sorted(l, key=lambda x: x[1])
print(s)

[(4887871, 'Alabama'), (19542209, 'New York'), (626299, 'Vermont'), (1420491, 'america')]

8. Using sorted() function and lambda sort the tuples in the list based on the last character of the second items

In [61]:
l=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii")]

In [62]:
s=sorted(l, key=lambda x : x[1][-1])
print(s)

[(4887871, 'Alabama'), (1420491, 'america'), (19542209, 'New York'), (626299, 'Vermont')]

9.Using sorted() function, reverse parameter and lambda sort the tuples in the list based on the last character of the second items in reverse order.

In [70]:
l=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii")]

s=sorted(l, key=lambda x: x[1][-1], reverse=True)
print(s)

[(19542209, 'New York'), (1420491, 'Hawaii'), (4887871, 'Alabama')]